# ==========================================
# Natacha Mouth  - XTTS V2
# Configuration Natacha - Template .env
# ==========================================
# --- Réseau ---
MQTT_BROKER=192.168.1.100
MQTT_PORT=1883
OREILLE_IP=192.168.1.90

# --- Audio & Modèles ---
SPEAKER_WAV_PATH=data/voix_thierry_pro.wav
TTS_CACHE_DIR=/home/vieil/.local/share/tts

# --- Hardware & Debug ---
TORCH_DEVICE=cuda
LOG_LEVEL=INFO
ENABLE_STREAMING=True
